.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.menu-amplifica-container {
  margin-top: auto;
  margin-bottom: auto;

}

#menu-amplifica li.menu-item a {
  padding: 8px 16px;
  text-decoration: none;
  vertical-align: middle;
}
